<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content="Free geoguess game" />
    <link
      rel="icon"
      type="image/x-icon"
      href="<%= env.BASE_URL %>images/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= env.BASE_URL %>images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= env.BASE_URL %>images/favicon-16x16.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= env.BASE_URL %>images/apple-touch-icon.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!--<link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />-->
    <title>Geoguess Master - Free geoguess game</title>
  </head>
  <body>
    <!-- <div id="app"></div> -->
    <!-- <script type="module" src="/src/main.ts"></script> -->
     <div>
      <h1>Geoguess Master is Getting an Update Soon 🚀</h1>
      <p>Hi everyone!</p>
      <p>I am thrilled to announce that I will be renewing Geoguess Master and launching a brand-new version soon! 🎉</p>
      <p>I have been working hard on it lately, and can't wait for you all to experience the new features and improvements the new version will bring.</p>
      <br />
      <p>In the meantime, I'd love for you to join our new Discord! I will keep things updated there on the new website's launch.</p>
      <br />
      👉 <a href="https://discord.gg/kHdfRPevdw">Join Discord</a>
      <p>Looking forward to seeing you there and sharing more updates soon!</p>
     </div>
  </body>
</html>
