$color-brand-primary: hsl(284, 100%, 50%);
$color-brand-light: hsl(289, 100%, 92%);
$color-brand-gradient: linear-gradient(hsl(234, 100%, 50%), hsl(284, 100%, 50%));
$color-tone-primary: hsl(234, 100%, 50%);
$color-tone-light: hsl(240, 100%, 94%);
$color-surface-primary: hsl(300, 5%, 11%);
$color-surface-secondary: hsl(312, 3%, 28%);
$color-surface-tertiary: hsl(320, 3%, 57%);
$color-surface-light: hsl(322, 15%, 89%);
$color-surface-superlight: hsl(326, 28%, 95%);
$color-red-primary: hsl(2, 73%, 53%);
$color-shadow-bold: 0 10px 50px -10px hsla(0, 0%, 0%, 0.2);
