$color-brand-primary: hsl(284deg 100% 50%);
$color-brand-light: hsl(289deg 100% 92%);
$color-brand-gradient: linear-gradient(hsl(234deg 100% 50%), hsl(284deg 100% 50%));
$color-tone-primary: hsl(234deg 100% 50%);
$color-tone-light: hsl(240deg 100% 94%);
$color-surface-primary: hsl(300deg 5% 11%);
$color-surface-secondary: hsl(312deg 3% 28%);
$color-surface-tertiary: hsl(320deg 3% 57%);
$color-surface-light: hsl(322deg 15% 89%);
$color-surface-superlight: hsl(326deg 28% 95%);
$color-red-primary: hsl(2deg 73% 53%);
$color-shadow-bold: 0 10px 50px -10px hsl(0deg 0% 0% / 20%);
