$color-black-primary: hsl(0, 0%, 24%);
$color-black-secondary: hsl(0, 0%, 37%);
$color-white-primary: hsl(0, 0%, 93%);
$color-white-secondary: hsl(0, 0%, 86%);
$color-red-primary: hsl(0, 100%, 63%);
$color-brand-primary: hsl(240, 100%, 34%);